<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]='idBusca'>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="pesquisar();" type="button" id="button-addon2">Pesquisar</button>
    </div>
  </div>
  <div *ngIf="_user != null">
    <div class="row">
        <div class="col-md-12">
            <h5>User:</h5>
            {{_user.name}}<br>
            {{_user.username}}<br>
            {{_user.phone}}<br>
            {{_user.website}}<br>

        </div>
    </div>
</div>